<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mboconnect">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <permission android:name="com.mboconnect.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
<uses-permission android:name="com.mboconnect.permission.C2D_MESSAGE"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name" android:name=".Application" android:theme="@style/AppTheme">
        <service android:name="com.artisan.services.ArtisanService"/>

        <receiver android:name=".receivers.LoginAlarmReceiver"/>
        <receiver android:name=".receivers.RefreshTokenReceiver">
            <intent-filter>

                <action android:name="RefreshTokenIntent">

                </action>

            </intent-filter>

        </receiver>

        <meta-data android:name="io.fabric.ApiKey" android:value="0f2ac42104ab6ad6a42f3df9b0588083f7c27a5f"/>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAMCKdmZSxOU3CnKq4EoSHBNq4Z4qKaabA"/>

        <activity android:launchMode="singleTop" android:name=".activities.OpportunityListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".activities.LoginActivity"/>
        <activity android:label="@string/title_activity_job_details" android:name=".activities.OpportunityDetailsActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:label="@string/title_activity_message" android:name=".activities.OpportunityMessageActivity"/>
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_message" android:name=".activities.AboutActivity"/>
        <activity android:label="@string/title_activity_list_activity" android:name=".activities.MessageListActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:label="@string/title_activity_list_activity" android:name=".activities.SettingsActivity" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:label="@string/title_activity_list_activity" android:name=".activities.ProfileActivity"/>
        <activity android:name=".activities.SyncPowerHooks"></activity>

    <receiver android:name="com.artisan.push.ArtisanPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
<intent-filter>
<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
<category android:name="com.mboconnect"/>
</intent-filter>
</receiver>
<service android:name="com.artisan.push.ArtisanPushService"/>
</application>

</manifest>
